<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <app-come-back (onGoBackCalled)="onGoBack($event)">
    <h3 header class="text-gray-600 text-lg font-semibold font-mono"> Lines </h3>
  </app-come-back>
</section>

<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <app-search-form (onFormSubmitted)="onSubmit($event)" placeholder="Arrêt, ligne"/>
</section>

@if (!isResearch){
  <section class="mx-4 my-4 bg-white rounded-lg shadow-lg overflow-y-auto ">
    <div class="flex flex-col py-4 px-2 space-y-2">
      <h3 class="text-gray-600 text-lg font-semibold font-mono cursor-pointer"> All lines </h3>

      @defer (when !isResearch){
        @if ((transportLines$| async)?.results;as geometries) {
          <div class="flex flex-wrap space-x-2">
            @for (geometryItem of geometries ;track geometryItem.uuid) {
              <app-line-item [data]="geometryItem"/>
            }
          </div>
        }
      }
      @placeholder {
        <app-loading/>
      }


    </div>
  </section>
}
@else {

  <section class="mx-4 my-4 bg-white rounded-lg shadow-lg overflow-y-auto ">
    <div class="flex flex-col py-4 px-2 space-y-2">
      <h3 class="text-gray-600 text-lg font-semibold font-mono cursor-pointer"> Results </h3>

      @defer (when searchResult().length > 0) {
        <div class="flex flex-wrap space-x-2">
          @for (geometryItem of searchResult() ;track geometryItem.uuid) {
            <app-line-item [data]="geometryItem"/>
          }
        </div>
      } @placeholder {
        <app-loading/>
      }
    </div>
  </section>

}








