<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <app-come-back>
    <h3 header class="text-gray-600 text-lg font-semibold font-mono"> Recherche</h3>
  </app-come-back>
</section>
<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <div class="flex items-center space-x-1 rounded-t-lg border shadow-sm py-2 px-2">
    <input id="departure" name="stopLine" [(ngModel)]="research" type="text" required
           placeholder="Adresse, arrêt, ligne, lieu, commune"
           class="w-full  text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm sm:leading-6">
  </div>
</section>
<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">

</section>
