<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <app-come-back (onGoBackCalled)="onGoBack($event)">
    <h3 header class="text-gray-600 text-lg font-semibold font-mono"> Recherche</h3>
  </app-come-back>
</section>

<section class="mx-4 my-4 bg-white rounded-lg shadow-lg">
  <app-search-form (onFormSubmitted)="onSubmit($event)" placeholder="Adresse, arrêt, ligne, lieu, commune"/>
</section>


<section class="mx-4 my-4 bg-white rounded-lg shadow-lg flex flex-col">
  @if ((searchResult$ | async)?.results;as data) {
    @for (dataItem of data;track dataItem.indexUid) {
      @switch (dataItem.indexUid) {

        @case ('coordinates') {

          @defer (when dataItem.hits.length > 0) {
            <ng-container>

              <div class="flex flex-col space-y-2 px-2 my-2">
                <h4>Coordinates</h4>
                <div class="flex flex-wrap space-x-2">
                  @for (coordinateItem of dataItem.hits;track coordinateItem.uuid) {
                    <app-coordinate-item [data]="coordinateItem"/>
                  }
                </div>
              </div>


            </ng-container>
          } @loading {
            <app-loading/>
          }

        }
        @case ('geometries') {

          @defer (when dataItem.hits.length > 0) {
            <ng-container>

              <div class="flex flex-col space-y-2 px-2 my-2">
                <h4>Lines</h4>
                <div class="flex  space-x-2">
                  @for (geometryItem of dataItem.hits;track geometryItem.uuid) {
                    <app-line-item [data]="geometryItem"/>
                  }
                </div>
              </div>

            </ng-container>
          } @loading  {
            <app-loading/>
          }

        }
        @case ('directions') {
          @defer (when dataItem.hits.length > 0) {
            <ng-container>

              <div class="flex flex-col space-y-2 px-2 my-2">
                <h4>Directions</h4>
                <div class="flex flex-wrap space-x-2">
                  @for (directionItem of dataItem.hits;track directionItem.uuid) {
                    <app-direction-item [data]="directionItem"/>
                  }
                </div>
              </div>

            </ng-container>
          } @loading {
            <app-loading/>
          }

        }
      }
    } @empty {
      <app-not-found-item/>
    }
  }
</section>



